
.card-container {
  padding: 0 110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.plan-card {    
  width: 340px;
  height: fit-content;
  background: white;
  border-radius: 20px;
  /* box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff; */
  box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
  margin: 30px;
  transition: transform 0.4s ease;
}
  
.plan-card-header {
  background: var(--plan-card-header-cold-color);
  width: 100%;
  height: 65px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center; 
  justify-content: right;
  gap: 8px;
}

.plan-card-main {
  --border-color: none;
  border-left: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.category-area {
  padding: 7px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: flex-end;
}
  
.plan-card:hover {
  /* box-shadow: 0px 10px 20px rgba(0,0,0,0.1); */
  transform: scale(1.03);
}

.icon-button {
  display: inline-flex;
  align-items: center;
  background: var(--plan-icon-background);
  outline: none;
  border: none;
  border-radius: 23%;
  font-family: 'Lucida Sans' sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  margin: 0;
}
  
.icon-button:hover .plan-icon {
  transition: 0.2s;
}

.plan-icon {
  z-index: 0;
  /* --button-color: #bcbcbd; */
  filter: invert(81%) sepia(0%) saturate(349%) hue-rotate(302deg) brightness(96%) contrast(87%);
}

.icon-button:hover .plan-favorite-icon {
  /* color: white; */
  transform: scale(1.1) rotate(10deg);
  filter: invert(99%) sepia(1%) saturate(1035%) hue-rotate(210deg) brightness(119%) contrast(100%);
}

.plan-favorite-icon-active {
  filter: invert(94%) sepia(54%) saturate(2179%) hue-rotate(319deg) brightness(102%) contrast(102%)!important;
}

.icon-button:hover .plan-delete-icon {
  /* color: white; */
  transform: scale(1.1);
  filter: invert(37%) sepia(41%) saturate(1597%) hue-rotate(330deg) brightness(105%) contrast(92%);
}

.icon-button:hover .plan-edit-icon {
  /* color: white; */
  transform: scale(1.1) rotate(-360deg);
  filter: var(--plan-edit-icon-color);
}

.icon-button:hover .plan-choose-icon {
  /* color: white; */
  transform: scale(1.3);
  filter: var(--plan-chosen-icon-hover-color);
}

.plan-choose-icon-active {
  filter: var(--plan-chosen-icon-color);
}

.icon-button:hover .plan-done-icon {
  /* color: white; */
  transform: scale(1.1) rotate(10deg);
  filter: var(--plan-done-icon-hover-color);
}

.plan-done-icon-active {
  filter: var(--plan-done-icon-color);
}