
.exercise-insert-form {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
  }
  
  .exercise-insert-form input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
  .exercise-insert-form input:focus {
    outline: none;
    border-color: #3b82f6;
  }
  
  .exercise-insert-form button {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
  }
  
  .btn-insert {
    color: red;
    background-color: #10b981;
  }
  
  .btn-insert:hover {
    background-color: #059669;
  }
  
  .btn-cancel {
    background-color: #ef4444;
  }
  
  .btn-cancel:hover {
    background-color: #dc2626;
  }