.exercise-item {
    display: flex;
    flex-direction: column;
  }
  
  .exercise-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .exercise-input-container {
    position: relative;
    flex-grow: 1;
  }
  
  .exercise-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
  }
  
  .button {
    padding: 4px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
  
  .gray-button {
    background-color: #6b7280;
  }
  
  .green-button {
    background-color: #10b981;
  }
  
  .red-button {
    background-color: #ef4444;
  }
  
  .blue-button {
    background-color: #3b82f6;
  }
  
  .insert-button {
    margin: 8px 0;
    padding: 4px;
    background-color: #e5e7eb;
    border-radius: 4px;
    color: #3b82f6;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }